<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>
<body>
<header>
    <div>
        <img src="./img/logo.png" width="120px">
    </div>
    <nav>
        <a href="mainPage.do">영화</a>
        <a href="tvShowsPage.do">TV 프로그램</a>
        <a href="peoplePage.do">인물</a>
        <a href="#">컬렉션</a>
    </nav>
    <div>
        <input type="text" placeholder="검색">
        <img src="./img/user-icon.png" alt="사용자 아이콘" width="30px">
        <img src="./img/settings-icon.png" alt="설정 아이콘" width="30px">
    </div>
</header>
</body>
</html>