/* =======================
   일반적인 바디 스타일
   ======================= */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    flex: 1;
    padding: 20px;
    margin-top: 70px; /* 헤더와의 분리 여백 */
    margin-bottom: 50px; /* 푸터와의 분리 여백 */
}

/* =======================
   헤더 스타일
   ======================= */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
}
.header img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin-right: 20px;
}
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.nav a:hover {
    text-decoration: underline;
    background-color: #f0f0f0;
}
.search-container {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
}
.search-container input {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    box-sizing: border-box;
}
.search-container button {
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
}

/* =======================
   메인 콘텐츠 스타일
   ======================= */
.movie-container, .tvshow-container, .person-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
}
.movie, .tvshow, .person {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
    flex: 0 0 auto;
    width: 150px;
    height: 300px;
}
.movie:hover, .tvshow:hover, .person:hover {
    transform: translateY(-10px);
}
.movie img, .tvshow img, .person img {
    width: 100%;
    height: 225px; /* 높이를 고정하여 카드 내 이미지 비율 유지 */
    object-fit: cover; /* 이미지가 고정된 높이를 채우도록 조정 */
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.movie-title, .tvshow-title, .person-name {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-date, .tvshow-date, .person-date {
    text-align: center;
    font-size: 12px;
    color: #555;
    padding-bottom: 10px;
}
