/* =======================
   일반적인 바디 스타일
   ======================= */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    flex: 1;
    padding: 20px;
    margin-top: 70px; /* 헤더와의 분리 여백 */
    margin-bottom: 50px; /* 푸터와의 분리 여백 */
}

/*!* =======================*/
/*   메인 콘텐츠 스타일*/
/*   ======================= *!*/
/*.person-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: 20px;*/
/*    justify-content: center; !* 중앙 정렬을 위해 추가 *!*/
/*}*/
/*.person {*/
/*    background: white;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 4px 6px rgba(0,0,0,0.1);*/
/*    overflow: hidden;*/
/*    transition: transform 0.3s;*/
/*    width: 207px; !* 정확한 너비 설정 *!*/
/*    box-sizing: border-box;*/
/*}*/
/*.person:hover {*/
/*    transform: translateY(-10px);*/
/*}*/
/*.person img {*/
/*    width: 100%;*/
/*    height: 312px; !* 정확한 높이 설정 *!*/
/*    object-fit: cover; !* 이미지 비율 유지 *!*/
/*    cursor: pointer;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/
/*.person-name {*/
/*    text-align: center;*/
/*    font-size: 14px;*/
/*    padding: 10px;*/
/*    font-weight: bold;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/
/*.person-date {*/
/*    text-align: center;*/
/*    font-size: 12px;*/
/*    color: #555;*/
/*    padding-bottom: 10px;*/
/*}*/

/*!* 반응형 디자인을 위한 미디어 쿼리 *!*/
/*@media (max-width: 900px) {*/
/*    .person-container {*/
/*        justify-content: space-around;*/
/*    }*/
/*    .person {*/
/*        flex: 0 0 calc(50% - 20px); !* 2열 레이아웃 *!*/
/*        max-width: 207px; !* 최대 너비 유지 *!*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    .person {*/
/*        flex: 0 0 100%; !* 1열 레이아웃 *!*/
/*        max-width: 207px; !* 최대 너비 유지 *!*/
/*    }*/
/*}*/

